body {
    font-family: 'Lato', sans-serif;
}

h5, .page-title {
    font-family: 'Montserrat', sans-serif;
}

.modal-dialog {
    width: 98%;
    height: 92%;
    padding: 0;
}

.modal-content {
    height: 99%;
}
